alembic~=1.11.1
aiokafka==0.7.2
fastapi~=0.103.2
SQLAlchemy==2.0.28
pydantic-settings
kafka-python==2.0.2
pydantic~=2.6.0
elasticsearch==8.6.2
isort==5.10.1
uvicorn[standard]==0.17.6
uvloop==0.15.2 ; sys_platform != "win32" and implementation_name == "cpython"
python-dotenv~=1.0.0
clickhouse-driver==0.2.6
backoff==2.2.1
redis==5.0.1
# psycopg2-binary==2.9.5
orjson==3.10.0
starlette~=0.27.0
aiohttp~=3.9.3
asyncpg~=0.27.0
yookassa~=3.1.0